form.signIn {
  height: 200px;
}

form input:not([type='submit']) {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #3b3b3b;
  background-color: transparent;
  outline: 0;
  max-width: 175px;
  text-align: center;
}

form input[type='submit'] {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 150px;
}

form input[type='submit']:hover,
form input[type='submit']:focus {
  border: 1px solid #3b3b3b;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
