.chartsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  position: relative;
  z-index: 1;
  margin-top: 100px;
}

.chartsGrid article {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  perspective: 1000px;
}

.chartsGrid .inner {
  position: relative;
  width: 100%;
  height: 345px;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.chartsGrid article.active .inner {
  transform: rotateY(180deg);
}

.chartsGrid article:last-child .front {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.front {
  z-index: -1;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background-color: #ffffff;
  overflow: scroll;
}

.back div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0 0 0;
}

.back select {
  border: 0;
  margin: 20px;
}

.back h5 {
  margin: 20px 0 0;
}

.chartsGrid button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  border: 0;
  background: #ffffff;
  overflow: hidden;
  transition: 0.2s;
  width: 50%;
}

.chartsGrid button:hover,
.chartsGrid button:focus {
  transition-delay: 0.25s;
}

.chartsGrid .updateBtn {
  color: #ff8b00;
}

.chartsGrid .deleteBtn {
  color: #a13600;
}

.chartsGrid .addBtn {
  color: #39ff14;
}

.back .updateBtn,
.back .addBtn {
  width: 100%;
  margin-top: 20px;
}

.chartsGrid .addBtn:hover,
.chartsGrid .addBtn:focus {
  color: #168c00;
  background: #39ff14;
  box-shadow: 0 0 10px #39ff14, 0 0 40px #39ff14, 0 0 80px #39ff14;
}

.chartsGrid .updateBtn:hover,
.chartsGrid .updateBtn:focus {
  color: #d96400;
  background: #ff8b00;
  box-shadow: 0 0 10px #ff8b00, 0 0 40px #ff8b00, 0 0 80px #ff8b00;
}

.chartsGrid .deleteBtn:hover,
.chartsGrid .deleteBtn:focus {
  color: #800000;
  background: #a13600;
  box-shadow: 0 0 10px #a13600, 0 0 40px #a13600, 0 0 80px #a13600;
}
