@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 15px;
  background: rgb(240, 196, 9);
  background: linear-gradient(
    90deg,
    rgba(240, 196, 9, 1) 0%,
    rgba(246, 209, 52, 1) 35%,
    rgba(207, 167, 0, 1) 66%,
    rgba(200, 162, 0, 1) 100%
  );
}

button {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: 5px;
  right: 0;
  transition: all 0.5s ease-in-out;
}

button.updateBtn::after,
button.deleteBtn::after {
  content: none;
}

header button:hover::after,
header button:focus::after {
  width: 100%;
  left: 0;
  background: #3b3b3b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition-delay: 9999s;
}

form.register,
form.signIn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
